#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.bio__wrp{
  padding: 24px 48px;
  background: #ffe6f2; 
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(255, 105, 180, 0.2);
  text-align: center;
  margin-bottom: 24px;
}

.bio__wrp:hover{
  box-shadow: 0 4px 12px #e6e0ff;
}

.sitePost__wrp, .sum__wrp, .colors__wrp{
  padding: 4px;
  border: #ffe6f2 3px solid;
  border-radius: 16px;
  margin-bottom: 24px;
}

.sitePost__wrp:hover, .sum__wrp:hover, .colors__wrp:hover{
  border: #e6e0ff 3px solid;
}

.sitePost__title, .sum__title, .colors__title{
  color: #522f40;
  margin: 0;
  padding-bottom: 12px;
}
.sum, .colors__list{
  margin: 0;
}






